@import "../../app.scss";

.more {
  width: 100%;
  height: 100vh;
  background: linear-gradient(180deg, #000, #08011b, #2d1275);
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;

  h1 {
    text-align: center;
    font-size: 80px;
    font-weight: 400;
    color: white;
    letter-spacing: 1px;

    @include mobile {
      font-size: 30px;
      flex-direction: column;
      margin: 2%;
    }
  }

  p {
    max-height: 80%;
    display: flex;
    align-items: center;
    // padding-top: 1%;
    margin: 0 2%;
    gap: 0 4%;
    font-size: 34px;
    color: #bfe1f9;
    text-align: justify;
    // letter-spacing: 2px;
    line-height: 45px;

    .ig {
      width: 50%;
      height: 80%;
      border-radius: 20px;

      @include mobile {
        display: none;
      }
    }

    @include mobile {
      line-height: 150%;
      font-size: 20px;
      text-align: center;
      height: 100%;
    }
  }

  // .iMages {
  //   display: flex;
  //   justify-content: space-between;
  // }

  // img {
  //   left: 80%;
  //   top: 65%;
  //   width: 15%;
  //   height: 30%;
  //   position: absolute;
  //   border: solid 1px transparent;
  //   border-radius: 50%;
  // }

  .image {
    background-image: url("../../assets/stars.png");
    opacity: 0.5;
    background-size: cover;
    background-position: bottom;
    width: 100%;
    height: 100%;
    position: absolute;
  }
}
