@import "../../app.scss";

.rodape {
  background-image: url("../../assets/stars.png");
  background-size: cover;
  background-color: #180533;
  width: 100%;
  height: 90px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1%;

  @include mobile {
    display: flex;
    flex-direction: column;
    height: 90px;
  }

  .flex {
    display: flex;
    align-items: center;

    .flex2 {
    }

    h2 {
      font-size: 20px;
      font-weight: 400;
      letter-spacing: 1px;

      @include mobile {
        font-size: 22px;
        margin: 8px;
      }

      .link {
        color: #d8beff;
        font-weight: bold;
        border-bottom: solid 2px #c9a7f9;
        font-size: 24px;
      }
    }
  }
}
