@import "../../app.scss";
.descricao {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  background: url(./../../assets/galaxia.svg);
  background-repeat: no-repeat;
  background-size: cover;
  //   position: relative;

  h1 {
    margin: 4% 0 2%;
    font-size: 60px;
    color: #d2b8ff;
    border-bottom: solid 2px;
    padding: 7px;
    letter-spacing: 1px;

    @include mobile {
      margin: 0 5% 0 5%;
      font-size: 50px;
    }
    @include tablet {
      font-size: 76px;
      // margin-top: 50%;
    }
  }

  //   img {
  //     width: 20%;
  //     position: absolute;
  //   }

  h2 {
    font-size: 30px;
    letter-spacing: 1px;
    font-weight: 400;
    margin: 2px 3%;

    @include mobile {
      text-align: center;
      font-size: 22px;
      margin-top: 7%;
    }
    @include tablet {
      text-align: center;
      font-size: 34px;
    }
  }

  .grid {
    display: flex;
    gap: 100px;
    margin: 2% auto;

    img {
      border-radius: 30px;
      width: 320px;
      height: 280px;
    }

    .grid2 {
      @include mobile {
        display: none;
      }
    }

    @include mobile {
      margin: 2% auto 0;
      gap: 5%;
    }
    // @include tablet {
    //   display: none;
    // }
  }

  span {
    font-style: italic;
    font-weight: bold;
    color: #722aed;
  }
}
