@import "../../app.scss";
.descricao {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  background: url(./../../assets/galaxia.svg);
  background-repeat: no-repeat;
  background-size: cover;
  //   position: relative;

  h1 {
    margin: 2% auto;
    font-size: 60px;
    color: #d2b8ff;
    border-bottom: solid 2px;
    padding: 7px;
    letter-spacing: 1px;
    max-width: 80%;

    @include mobile {
      // margin: 2%;
      font-size: 32px;
    }
    // @include tablet {
    //   font-size: 25px;
    //   // margin-top: 50%;
    // }
  }

  //   img {
  //     width: 20%;
  //     position: absolute;
  //   }

  h2 {
    font-size: 30px;
    letter-spacing: 1px;
    font-weight: 400;
    margin: 2px 3%;

    @include mobile {
      text-align: center;
      font-size: 16px;
      margin: 5% 3%;
    }
    // @include tablet {
    //   text-align: center;
    //   font-size: 12px;
    // }
  }

  .grid {
    display: flex;
    gap: 10%;
    margin: 2% 4%;
    justify-content: space-evenly;

    img {
      border-radius: 30px;
      width: 320px;
      height: 300px;

      @include mobile {
        // gap: 5%;
        width: 87%;
        height: 100%;
      }
    }

    .grid2 {
      @include mobile {
        display: none;
      }
    }

    @include mobile {
      display: flex;
      align-items: center;
      justify-content: center;
      //   margin: 0;
      gap: 5%;
      //   width: 4%;
      //   height: 2%;
    }
    // @include tablet {
    //   display: none;
    // }
  }

  span {
    font-style: italic;
    font-weight: bold;
    color: #722aed;
  }
}
